# Importing dependencies

In [1]:
#Ignore Warnings
import warnings
warnings.filterwarnings("ignore")

#Maths and Vectors
import pandas as pd
import numpy as np

#Visualizations
import matplotlib.pyplot as plt

# Importing data

In [2]:
df = pd.read_csv("/content/exercises.csv")
df.head()

        gdp_cap  life_exp        pop  colors
0    974.580338    43.828  31.889923     red
1   5937.029526    76.423   3.600523   green
2   6223.367465    72.301  33.333216    blue
3   4797.231267    42.731  12.420476    blue
4  12779.379640    75.320  40.301927  yellow