In [1]:
# Import cars data
import pandas as pd
cars = pd.read_csv('/content/cars.csv', index_col = 0)

# Create car_maniac: observations that have a cars_per_cap over 500
cpc = cars['cars_per_cap']
many_cars = cpc > 500
car_maniac = cars[many_cars]

# Print car_maniac
print(car_maniac)

            cars_per_cap        country  drives_right
country_ab
US                   809  United States          True
AUS                  731      Australia         False
JAP                  588          Japan         False

In [2]:
import numpy as np
# Create medium: observations with cars_per_cap between 100 and 500

cpc = cars["cars_per_cap"]
between = np.logical_and(cpc > 100, cpc < 500)
medium = cars[between]

# Print medium
print(medium)

            cars_per_cap country  drives_right
country_ab
RU                   200  Russia          True

### Logical Operators

In [3]:
# Initialize offset

offset = 8

# Code the while loop

while offset != 0:
    print("correcting...")
    offset -= 1
    print(offset)

correcting...
7
correcting...
6
correcting...
5
correcting...
4
correcting...
3
correcting...
2
correcting...
1
correcting...
0

In [4]:
# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    if offset > 0 :
      offset -= 1
    else :
      offset += 1
    print(offset)

correcting...
-5
correcting...
-4
correcting...
-3
correcting...
-2
correcting...
-1
correcting...
0

In [5]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Change for loop to use enumerate() and update print()
for index, area in enumerate(areas) :
    print("room " + str(index) + ": " + str(area))

room 0: 11.25
room 1: 18.0
room 2: 20.0
room 3: 10.75
room 4: 9.5

In [6]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for index, area in enumerate(areas) :
    print("room " + str(index + 1) + ": " + str(area))

room 1: 11.25
room 2: 18.0
room 3: 20.0
room 4: 10.75
room 5: 9.5

In [7]:
# house list of lists
house = [["hallway", 11.25],
         ["kitchen", 18.0],
         ["living room", 20.0],
         ["bedroom", 10.75],
         ["bathroom", 9.50]]

# Build a for loop from scratch
for i in house:
  print(i)

['hallway', 11.25]
['kitchen', 18.0]
['living room', 20.0]
['bedroom', 10.75]
['bathroom', 9.5]

In [8]:
for a, b in enumerate(house):
  print(a, b)

0 ['hallway', 11.25]
1 ['kitchen', 18.0]
2 ['living room', 20.0]
3 ['bedroom', 10.75]
4 ['bathroom', 9.5]

In [9]:
for a, b in house:
  print(a, b)

hallway 11.25
kitchen 18.0
living room 20.0
bedroom 10.75
bathroom 9.5

**Write a for loop that goes through each sublist of house and prints out the x is y sqm, where x is the name of the room and y is the area of the room**

In [10]:
for x, y in house:
  print("the " + str(x) + " is " + str(y) + " sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

In [11]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }

# Iterate over europe
for key, value in europe.items() :
     print("the capital of " + str(key) + " is " + str(value))

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

In [12]:
for x in np.nditer(areas):
  print(x)

(array(11.25), array(18.), array(20.), array(10.75), array(9.5))

## Cars Dataframe

In [13]:
cars.head()

            cars_per_cap        country  drives_right
country_ab
US                   809  United States          True
AUS                  731      Australia         False
JAP                  588          Japan         False
IN                    18          India         False
RU                   200         Russia          True

In [14]:
# Iterate over rows of cars

for a, b in cars.iterrows():
    print(a)
    print(b)

US
cars_per_cap              809
country         United States
drives_right             True
Name: US, dtype: object
AUS
cars_per_cap          731
country         Australia
drives_right        False
Name: AUS, dtype: object
JAP
cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
IN
cars_per_cap       18
country         India
drives_right    False
Name: IN, dtype: object
RU
cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object
MOR
cars_per_cap         70
country         Morocco
drives_right       True
Name: MOR, dtype: object
EG
cars_per_cap       45
country         Egypt
drives_right     True
Name: EG, dtype: object

In [15]:
# Adapt for loop
for lab, row in cars.iterrows() :
    print(lab + ": " + str(row['cars_per_cap']))

US: 809
AUS: 731
JAP: 588
IN: 18
RU: 200
MOR: 70
EG: 45

In [16]:
# Code for loop that adds COUNTRY column

for lab, row in cars.iterrows():
    cars.loc[lab, "COUNTRY"] = row["country"].upper()

# Print cars
print(cars)

            cars_per_cap        country  drives_right        COUNTRY
country_ab
US                   809  United States          True  UNITED STATES
AUS                  731      Australia         False      AUSTRALIA
JAP                  588          Japan         False          JAPAN
IN                    18          India         False          INDIA
RU                   200         Russia          True         RUSSIA
MOR                   70        Morocco          True        MOROCCO
EG                    45          Egypt          True          EGYPT